@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-brand-yellow: #ecad10;
  --color-brand-blue: #4a96cb;

  --color-primary-50: #EFF6FF;
  --color-primary-100: #DBEAFE;
  --color-primary-200: #BFDBFE;
  --color-primary-300: #93C5FD;
  --color-primary-400: #60A5FA;
  --color-primary-500: #3B82F6;
  --color-primary-600: #2563EB;
  --color-primary-700: #1D4ED8;
  --color-primary-800: #1E40AF;
  --color-primary-900: #1E3A8A;

  --color-neutral-50: #F8FAFC;
  --color-neutral-100: #F1F5F9;
  --color-neutral-200: #E2E8F0;
  --color-neutral-300: #CBD5E1;
  --color-neutral-400: #94A3B8;
  --color-neutral-500: #64748B;
  --color-neutral-600: #475569;
  --color-neutral-700: #334155;
  --color-neutral-800: #1E293B;
  --color-neutral-900: #0F172A;

  --color-success-light: #DCFCE7;
  --color-success-base: #10B981;
  --color-success-dark: #047857;

  --color-warning-light: #FEF3C7;
  --color-warning-base: #F59E0B;
  --color-warning-dark: #B45309;

  --color-error-light: #FEE2E2;
  --color-error-base: #EF4444;
  --color-error-dark: #B91C1C;

  --color-info-light: #DBEAFE;
  --color-info-base: #3B82F6;
  --color-info-dark: #1E40AF;
}

:root {
  --background: #ffffff;
  --foreground: #1E293B;
}

.dark {
  --background: #0F172A;
  --foreground: #F1F5F9;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
  cursor: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4 1.5L4 16.5L8.5 12.5L11.5 20.5L14 19.5L11 11.5L16.5 11.5L4 1.5Z" fill="%234a96cb" stroke="white" stroke-width="1.5"/></svg>') 4 1, auto;
}
